body{
    margin: 0;
    font-family: sans-serif;

}

.bg-image{
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1682232860597-9e16a4972602?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1000&q=60 );

    background-position: center;
    background-attachment: fixed;
    background-size: 160%;
}

.container{
    padding: 100px;
}

h1{
    font-size: 50px;
}

p{
    color: grey;
}

@media (max-width: 500px){
    .container{
        padding: 10px;
    }
}